[defaults]
forks=8 # this will allow us to run the playbook on 8 hosts at a time. 
inventory = inventory.aws_ec2.yaml
#inventory = inventory.ini
remote_user = ec2-user
private_key_file=/home/ec2-user/keys/ansible.pem